@import '../../scss/variables.scss';

.Profile {
  padding: $layout-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $gray-dark;
  width: 50%;
  margin: auto;

  &-main {
    display: flex;
  }

  &-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 15px 10px;
    color: $white;

    .TextRow {
      margin: 20px 0;
    }
  }

  &-action {
    cursor: pointer;
  }
}
