{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "react-hooks"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    // "sourceType": "script",
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "16.5.2"
    }
  },
  "rules": {
    //   "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // "no-undef": "on",
    "react/no-string-refs": "warn",
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-undef": "off",
    "no-unused-vars": "off",
    "no-mixed-spaces-and-tabs": "off",
    "react/prop-types": "off",
    "no-case-declarations": "off",
    "no-redeclare": "off",
    "no-useless-escape": "off",
    "react/no-render-return-value": "warn",
    "no-control-regex": 0
  },
  "globals": {
    "babelHelpers": "writable",
    "inditex": "writable",
    "Inditex": "writable",
    "grecaptcha": "writable",
    "actionTypes": "writable",
    "Singleton": "writable",
    "ItxPageContainerClass": "writable",
    "UserModel": "writable",
    "ShopCartModel": "writable",
    "ShopCartPurchaseModel": "writable",
    "MeccanoAnalyticsModel": "writable",
    "ItxChatModel": "writable",
    "ItxMyAccountPageClass": "writable",
    "ItxCheckoutPageClass": "writable",
    "Redux": "writable",
    "ProductModel": "writable",
    "AddressModel": "writable",
    "OrderModel": "writable",
    "StoreModel": "writable",
    "$": "writable",
    "google": "writable",
    "UtilsController": "writable",
    "PaymentMethodModel": "writable",
    "CartItemModel": "writable",
    "CategoryModel": "writable",
    "log": "writable",
    "XmediaProduct": "writable",
    "IconCarFast": "writable",
    "IconExpressEcologic": "writable",
    "IconEmail": "writable",
    "IconCar": "writable",
    "IconStandardEcologic": "writable",
    "IconShop": "writable",
    "IconDrop": "writable",
    "IconCarSuperFast": "writable",
    "IconSaturdayShipping": "writable",
    "PersistenceModel": "writable",
    "WishCartModel": "writable",
    "DropPointModel": "writable",
    "BMap": "writable",
    "gapi": "writable",
    "BookingsModel": "writable",
    "ATTRIBUTE_PRODUCT_FEATURE_FILTER_TYPE": "writable",
    "ATTRIBUTE_PRODUCT_FEATURE_SUSTAINABILITY_TYPE": "writable",
    "ATTRIBUTE_PRODUCT_FEATURE_COLOR_TYPE": "writable",
    "ATTRIBUTE_PRODUCT_FEATURE_SIZE_TYPE": "writable",
    "ATTRIBUTE_PRODUCT_FEATURE_SIZETYPE_TYPE": "writable",
    "policySidebarTypes": "writable",
    "policyTexts": "writable",
    "GOOGLE_VALIDATION_PLACES_FORMS": "writable",
    "DEV_LOCAL_HOSTNAME": "writable",
    "DEV_INT_HOSTNAME": "writable",
    "DEV_PRE_HOSTNAME": "writable",
    "DEV_PRU_STAGE_HOSTNAME": "writable",
    "DEV_STAGE_HOSTNAME": "writable",
    "CLIENT_IS_COMPANY": "writable",
    "CLIENT_IS_PARTICULAR": "writable",
    "NewsletterOrigin": "writable",
    "ItxValidationFunctions": "writable",
    "_ItxGTM": "writable",
    "Itx410PageClass": "writable",
    "ItxCartPageClass": "writable",
    "ItxCategoryPageClass": "writable",
    "ItxChatClass": "writable",
    "ItxCheckoutConfirmationPageClass": "writable",
    "ItxContactPageClass": "writable",
    "ItxCheckoutValidationDataException": "writable",
    "ItxCheckoutValidationData": "writable",
    "ItxCheckoutDataBuilder": "writable",
    "ItxGiftCardPage": "writable",
    "ItxGiftCardPageValidationDataException": "writable",
    "React": "writable",
    "ItxGiftTicketClass": "writable",
    "ReactDOM": "writable",
    "ItxHomePageClass": "writable",
    "ItxMenuDisplayClass": "writable",
    "ItxPdfClass": "writable",
    "ItxProductPageClass": "writable",
    "ItxRegisterClass": "writable",
    "ItxSearchErrorPageClass": "writable",
    "ItxSearchPageClass": "writable",
    "ItxSessionExpiredPageClass": "writable",
    "ItxStoreLocatorClass": "writable",
    "ItxTicket2FacturaClass": "writable",
    "ItxWishListPageClass": "writable",
    "_ItxItxWorldWidePageClassGTM": "writable",
    "ItxGoogleModelLogin": "writable",
    "ItxWeChatModel": "writable",
    "ItxMenuExtraParams": "writable",
    "CheckoutCartComponent": "writable",
    "CheckoutCartPromotion": "writable",
    "CheckoutCartRenderPrices": "writable",
    "GiftCardAddedComponent": "writable",
    "InDiscountAddedComponent": "writable",
    "CardInformationComponent": "writable",
    "GiftCardPaymentForm": "writable",
    "CheckoutHowConfirmComponent": "writable",
    "CheckoutHowConfirmComponentParticularBilling": "writable",
    "WishListPageComponent": "writable",
    "StoreListModel": "writable",
    "WorldWideComponent": "writable",
    "EticketLandingComponent": "writable",
    "jQuery": "writable",
    "ProductModelMSpot": "writable",
    "ac_initRequestFetchData": "writable",
    "ac_requestFailureFetchData": "writable",
    "ac_updateUserModel": "writable",
    "ac_updateShopCartModel": "writable",
    "myAccountActions": "writable",
    "ac_initActionAsync": "writable",
    "ac_failureActionAsync": "writable",
    "ProductModelMeccano": "writable",
    "CategoryModelFake": "writable",
    "ac_requestSuccessFetchData": "writable",
    "CommonGridComponent": "writable",
    "VIEW_SIZE_GRID_SMALL": "writable",
    "VIEW_SIZE_GRID_BIG": "writable",
    "VIEW_SIZE_GRID_ENLARGE": "writable",
    "VIEW_SUBHOME_SIZE_GRID": "writable",
    "CheckoutStepsComponent": "writable",
    "CartComponent": "writable",
    "BrowserNotSupportedComponent": "writable",
    "showNewErrorModal": "writable",
    "CheckoutStepsConfirmationComponent": "writable",
    "mspots": "writable",
    "categoryRedirects": "writable",
    "createReactClass": "writable",
    "ProductModelColbenson": "writable",
    "ProductModelColbensonBanner": "writable",
    "ContactNewPageComponent": "writable",
    "ItxPageFooterComponent": "writable",
    "GiftCardComponent": "writable",
    "HomePageComponent": "writable",
    "MyGiftTicketComponent": "writable",
    "ItxMenuComponent": "writable",
    "MenuComponent": "writable",
    "ItxItemFooterProduct": "writable",
    "MyAccountComponent": "writable",
    "MyOrdersComponent": "writable",
    "ItxFooterDisplayClass": "writable",
    "MyAccountGuestUserComponent": "writable",
    "newPageContainerNoConnectedComponent": "writable",
    "newPageContainerComponent": "writable",
    "PageFooter": "writable",
    "MyReservesComponent": "writable",
    "MyAddressComponent": "writable",
    "MyPaymentMethodsComponent": "writable",
    "MyFavouritesStoresComponent": "writable",
    "MyPersonalDataComponent": "writable",
    "WideEyesModel": "writable",
    "MocacoModel": "writable",
    "ProductPageComponent": "writable",
    "ProductBundlePageComponentNew": "writable",
    "RegisterComponent": "writable",
    "Itx404ErrorComponent": "writable",
    "ColbensonAPI": "writable",
    "SessionExpiredComponent": "writable",
    "Ticket2FacturaComponent": "writable",
    "StoreLocatorPageComponent": "writable",
    "rMap": "writable",
    "ColbensonSearchNavigation": "writable",
    "lookbook_avoid_ids": "writable",
    "PubSub": "writable",
    "menu_extras": "writable",
    "Klarna": "writable",
    "Stradi_RestrictedCOD_Stores": "writable",
    "StepTransitionComponent": "writable",
    "StepsProductComponent": "writable",
    "ac_initProduct": "writable",
    "ac_updateShowSimilar": "writable",
    "ac_selectImage": "writable",
    "ac_updateErrorNotSelectedSizeType": "writable",
    "ac_updateErrorNotSelectedSize": "writable",
    "ac_updateStepAddButtons": "writable",
    "ac_updateShippingMethods": "writable",
    "ac_updateIsMobile": "writable",
    "ac_updateSrcImageColor": "writable",
    "ac_updateQuantity": "writable",
    "ac_toggleParentImagenes": "writable",
    "ac_selectSize": "writable",
    "ac_selectSizeType": "writable",
    "ac_selectColorId": "writable",
    "ac_onBrokenImage": "writable",
    "ac_updateImageSize": "writable",
    "ac_openSidebarBackSoon": "writable",
    "ac_openSidebarCSBS": "writable",
    "ac_fetchProductModelMeccano": "writable",
    "store": "writable",
    "ac_fetchOrders": "writable",
    "ac_updateOrderSection": "writable",
    "ac_updateDataReturn": "writable",
    "ac_cancelOrder": "writable",
    "ac_requestReturn": "writable",
    "ac_requestRefund": "writable",
    "ac_requestReturnGiftTicket": "writable",
    "ac_fetchReturnReasons": "writable",
    "ac_fetchAllDataOrder": "writable",
    "ac_fetchOrderGiftTicket": "writable",
    "ac_updateOptionSelectedReturn": "writable",
    "ac_getReturnStoresList": "writable",
    "ac_selectReturnStore": "writable",
    "ac_updateCurrentGrid": "writable",
    "ac_toggleFilterVisible": "writable",
    "ac_updateTypeImageModel": "writable",
    "ac_updateOrderType": "writable",
    "ac_initColbensonSearchComponent": "writable",
    "ac_initSearchMainComponent": "writable",
    "ac_initMainGridComponent": "writable",
    "ac_initFilterSubcategories": "writable",
    "ac_updateStateFilterCategories": "writable",
    "ac_updateStateFilterSustainability": "writable",
    "ac_updateStateFilterColors": "writable",
    "ac_updateStateFilterSizes": "writable",
    "ac_updateStateFilterSizesType": "writable",
    "ac_updateStateFilterPrice": "writable",
    "ac_resetFilters": "writable",
    "ac_updateShowGoToTop": "writable",
    "ReactRedux": "writable",
    "MenuMobileComponent": "writable",
    "ac_fetchOrderDetailGuestUser": "writable",
    "ac_addItemCartOrderDetail": "writable",
    "ac_cancelOrderGuest": "writable",
    "ac_registerGuest": "writable",
    "ac_loginGuestUser": "writable",
    "ac_resetPassword": "writable",
    "mSpotShippingMethodsProductPage": "writable",
    "ac_requestReturnGuest": "writable",
    "UtilsCReCaptchaComponent": "writable",
    "ItxSizeGuidePageClass": "writable",
    "ac_updateProductPageMobile": "writable",
    "ac_finishTransitionMobile": "writable",
    "ac_selectColorIdMobile": "writable",
    "ac_updateImageSizeMobile": "writable",
    "ac_fetchProductsModelWideEyes": "writable",
    "ac_fetchProductsCompleteYourLook": "writable",
    "freeShippingMspot": "writable",
    "classNames": "writable",
    "CategoryModelColbenson": "writable",
    "home_use_react": "writable",
    "json_data_home_react": "writable",
    "happyMethods": "writable",
    "avoidNewCategoryIds": "writable",
    "ruPromoMethods": "writable",
    "RenderPopUpMap": "writable",
    "defaultShippingType": "writable",
    "FBModel": "writable",
    "CalendarModel": "writable",
    "IconEye": "writable",
    "JsBarcode": "writable",
    "IconArrowBack": "writable",
    "IconArrowNext": "writable",
    "ConfigObjectModel": "writable",
    "arraySubCategoriesGrid": "writable",
    "bannerDenimMainCategory": "writable",
    "salesPricesConfiguration": "writable",
    "lastPricesConfiguration": "writable",
    "bannerSubcategoriesFilter": "writable",
    "categoriesBanner": "writable",
    "ac_setState": "writable",
    "ac_setCityAndDistrict": "writable",
    "ac_districtModeGetStatesCitiesValues": "writable",
    "ac_getCitiesByStateIsrael": "writable",
    "ac_getCitiesByStateChina": "writable",
    "ac_getDistrictsByCity": "writable",
    "ac_setDistrict": "writable",
    "ac_updateCheckoutStep": "writable",
    "ac_openErrorMessage": "writable",
    "ac_fixedMobile": "writable",
    "ac_isSMSCodActive": "writable",
    "ac_shippingAreaInfoRu": "writable",
    "ac_getCvvInfo": "writable",
    "ac_mspotInfo": "writable",
    "ac_getListStates": "writable",
    "ac_getPromotionList": "writable",
    "ac_showGiftCardError": "writable",
    "ac_showAlertError": "writable",
    "ac_messageError": "writable",
    "ac_setShippingMethods": "writable",
    "ac_showAlertErrorAndMessageError": "writable",
    "ac_loginHandler": "writable",
    "ac_updateWalletCards": "writable",
    "ac_setShippingMethod": "writable",
    "ac_setPickupStore": "writable",
    "ac_setDropPoint": "writable",
    "ac_updateShippingType": "writable",
    "ac_selectedShippingMethod": "writable",
    "ac_updateShippingMethodEmail": "writable",
    "ac_updateShowShippingSelection": "writable",
    "ac_updateShowSelectedPaymentForm": "writable",
    "ac_updateStoresSidebar": "writable",
    "ac_renderBillingFormGuest": "writable",
    "ac_setValueGiftCard": "writable",
    "ac_showAlertGiftCard": "writable",
    "ac_selectWalletFormId": "writable",
    "ac_selectFormId": "writable",
    "ac_setPaymentMethods": "writable",
    "ac_setTrustedPayment": "writable",
    "ac_updateSelectedPaymentMethod": "writable",
    "ac_canPayByCod": "writable",
    "ac_updateListPaymentCards": "writable",
    "ac_updateCardNumber": "writable",
    "ac_updateTypeShowAddress": "writable",
    "ac_showBillRequest": "writable",
    "ac_updateShippingMethodArray": "writable",
    "ac_updatePaymentMethodArray": "writable",
    "ac_updatePostalCodeOrDistrict": "writable",
    "ac_updateShippingAddress": "writable",
    "ac_updateBillingAddress": "writable",
    "ac_updateUserType": "writable",
    "ac_updateFormConfirm": "writable",
    "ac_setZipCode": "writable",
    "ac_getPickUpStoreOrDroppointListSearch": "writable",
    "ac_startAnimation": "writable",
    "ac_updateSelectedWalletCard": "writable",
    "ac_addNewWalletCard": "writable",
    "ac_showWalletShippingForm": "writable",
    "ac_showWalletPaymentForm": "writable",
    "ac_updateGuestLoginScreen": "writable",
    "ac_showOnlyZipCode": "writable",
    "ac_getDropPointMx": "writable",
    "ac_fetchGroupCountries": "writable",
    "ac_resetInitialState": "writable",
    "ac_updateBillingAddressMandatoryMethod": "writable",
    "ac_setDisablePaymentForm": "writable",
    "ac_setCountryWorldWide": "writable",
    "ac_setSelectedStoreModel": "writable",
    "ac_setBillingMandatoryMinOrderBill": "writable",
    "ac_changeZipCode": "writable",
    "ac_showMessageDeliveryMethodsChanged": "writable",
    "ac_updateDefaultAddress": "writable",
    "ac_setPendingAddPaymentMethod": "writable",
    "ac_setShowOnlyLogin": "writable",
    "ac_getPromoPaymentMethods": "writable",
    "ac_setMarkupsMapShipping": "writable",
    "ac_updateArrayHistory": "writable",
    "ac_updateMobileLoginStep": "writable",
    "ac_showForgotPassword": "writable",
    "faqsContentJson": "writable",
    "contactSidebarJSON": "writable",
    "footerJson": "writable",
    "genericSubtitleDefinition": "writable",
    "ForgotPasswordComponent": "writable",
    "QRCode": "writable",
    "CustomComponentInputText": "writable",
    "IconChatMocaComponent": "writable",
    "ac_updateStoreModel": "writable",
    "ac_updateWishCartModel": "writable",
    "ac_onResize": "writable",
    "ac_hideErrorMessage": "writable",
    "ac_openSideBar": "writable",
    "ac_closeSideBar": "writable",
    "ac_updateHeightMenu": "writable",
    "ac_finishActionAsync": "writable",
    "ac_updateHomeReady": "writable",
    "ac_closeErrorMessage": "writable",
    "ac_getDefaultShippingMethods": "writable",
    "ac_initChatSchedule": "writable",
    "ac_stepRegisterCN": "writable",
    "ac_saveLoginData": "writable",
    "ac_handleNeedHelp": "writable",
    "ac_updateHelpVisibility": "writable",
    "ac_handleChatState": "writable",
    "ac_animationTextMobileProductPage": "writable",
    "ac_openSidebarMultiContent": "writable",
    "ac_closeSidebarMultiContent": "writable",
    "ac_changeSidebarMultiContent": "writable",
    "ac_openSidebarMinicart": "writable",
    "ac_closeSidebarMinicart": "writable",
    "ReduxThunk": "writable",
    "reduxLogger": "writable",
    "pageContainerReducer": "writable",
    "myAccountReducer": "writable",
    "storeLocatorReducer": "writable",
    "productPageReducer": "writable",
    "mainGridAbstractReducer": "writable",
    "checkoutPageReducer": "writable",
    "ItxGTM": "writable",
    "ugcGallery": "writable",
    "mapPageType": "writable",
    "SizeGuideModel": "writable",
    "mSpotBenefit": "writable",
    "ac_updateSectionSelected": "writable",
    "ac_fetchAddress": "writable",
    "ac_fetchFavouritesStores": "writable",
    "ac_deleteItemAddres": "writable",
    "ac_fetchStates": "writable",
    "ac_addOrUpdateAddress": "writable",
    "ac_modifyBillingAddress": "writable",
    "ac_getPaymentMethods": "writable",
    "ac_deleteItemPaymentMethod": "writable",
    "ac_changeDefaultPayMethod": "writable",
    "ac_fetchPersonalData": "writable",
    "ac_updateStatusNewsletter": "writable",
    "ac_updateStatusBackSoon": "writable",
    "ac_updatePassword": "writable",
    "ac_updateEmail": "writable",
    "ac_updateReservesSection": "writable",
    "ac_fetchOrderDetail": "writable",
    "ac_deleteFavouritesStores": "writable",
    "ac_addFavouriteStore": "writable",
    "ac_getBookingsByUser": "writable",
    "ac_updateDataListOrders": "writable",
    "ac_updateDataListReserves": "writable",
    "ac_requestEInvoice": "writable",
    "ac_updatePhoneValidated": "writable",
    "masterCardPrefixes": "writable",
    "FB": "writable",
    "cardsInfo": "writable",
    "ReactBootstrap": "writable",
    "IconLocation": "writable",
    "IconCross": "writable",
    "IconWatch": "writable",
    "IconCheckMyAcount": "writable",
    "ColbensonData": "writable",
    "ac_resetStoreLocatorSearch": "writable",
    "ac_changeStoreLocatorSection": "writable",
    "ac_updateStoreLocatorSearch": "writable",
    "ac_storeLocatorSelectStore": "writable",
    "ac_storeLocatorGetFavouriteStores": "writable",
    "ac_storeLocatorToggleEdit": "writable",
    "ac_storeLocatorSetAMap": "writable",
    "ac_storeLocatorShowMap": "writable",
    "ac_storeLocatorSetSearchText": "writable",
    "ac_storeLocatorShowFavourites": "writable",
    "ac_storeLocatorShowSuggestions": "writable",
    "ac_setDefaultStore": "writable",
    "ac_setDefaultRegion": "writable",
    "ac_setDefaultCitiesDefaultCloserStores": "writable",
    "IconClose": "writable",
    "isInteger": "writable",
    "Hammer": "writable",
    "ac_renderBillingFormGuestParticular": "writable",
    "ac_updateBillingAddressGuest": "writable",
    "ac_updateAnchoredFooter": "writable",
    "ac_updateMenuMobileCollapsed": "writable",
    "ac_cancelSuborder": "writable",
    "moment": "writable",
    "SolrLayerComponent": "writable",
    "GiftCardModel": "writable",
    "ac_updateSearchText": "writable",
    "STRButton": "writable",
    "MyAccountMainComponent": "writable",
    "NewMenuComponent": "writable",
    "NewMenuMobileComponent": "writable",
    "getDeliveryInfoFormatted": "writable",
    "strIcons": "writable",
    "testVariable": "writable",
    "CheckoutNewComponent": "writable",
    "strEmojis": "writable",
    "videojs": "writable",
    "createGoogleCaptcha": "writable",
    "createNativeCaptcha": "writable",
    "EticketModel": "writable",
    "M": "writable",
    "MyEticketComponent": "writable",
    "ac_fetchOrderRmaGuestUser": "writable",
    "ac_updatePixleeLayer": "writable",
    "Pixlee": "writable",
    "STRPromise": "writable",
    "ac_fetchOrdersStore": "writable",
    "ac_fetchOrderStoreDetail": "writable",
    "ShippingReturnsPageViewComponent": "writable",
    "ItxShippingReturnsPageView": "writable",
    "STRFaqsContent": "writable",
    "ac_openModal": "writable",
    "ac_closeModal": "writable",
    "ac_setPurchaseAttempt": "writable"
  }
}
