.App {
  text-align: center;
  position: relative;
  top: 50px;
  left: 0;
  width: 80%;
  margin: 40px auto;
}

/** Copied from https://codepen.io/GeorgePark/pen/erPRKg **/
.App-heading {
  font-family: 'Schoolbell', serif;
  font-size: 100px;
  line-height: 1;
  color: #02b1c8;
  margin: 20px 0 25px;
  text-shadow: 0.02em 0.02em 0.02em #7ffa67, -0.02em -0.02em 0.02em #7ffa67, 0 0 0.2em #7ffa67;
  animation: textShadow 2s linear infinite alternate;
}

.App-heading span {
  font-size: 50px;
  margin: 0 -12px;
  vertical-align: middle;
}
