@import '../../scss/variables.scss';

.Card {
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.0694657);
  transition: 0.3s;
  width: 250px;
  padding: 0;
  border: 1px solid $gray-light;
  cursor: pointer;
  height: 350px;
  background-color: $white;

  img {
    width: 100%;
    height: 150px;
    object-fit: fill;
  }

  &-title {
    @include opensans();
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-album {
    @include opensans();
    padding: 15px;
    font-size: 16px;
    text-align: left;
    color: $gray-dark;
    height: 30px;
  }

  &-icon {
    float: right;

    .Icon {
      position: relative;
      top: 25px;
      right: 20px;
      border-color: $blue;
    }
  }

  &_mobile {
    height: 250px;
    width: 350px;

    .Card-img {
      height: 80px;

      img {
        height: 80px;
        object-fit: cover;
      }
    }

    .Card-title {
      height: 15px;
    }

    .Card-album {
      height: 20px;
    }

    .Icon {
      top: 15px;
    }
  }
}
