@import '../../scss/variables.scss';

.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 1em;
  background-color: $blue;
  z-index: 100;

  &-sections-container {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 5;

    @media screen and (min-width: $tablet-width) {
      border-bottom: 1px solid $gray;
    }
  }

  &-sections {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  &-section {
    display: flex;
    align-items: center;
    height: 100%;

    &_left {
      justify-content: flex-start;
    }

    &_center {
      display: block;
      line-height: 50px;
      text-transform: uppercase;
      flex: 1;
      justify-content: flex-start;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media screen and (min-width: calc($tablet-width + 1px)) {
        justify-content: center;
        align-content: center;
        display: flex;
      }
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &_mobile {
    .Header-sections {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
